
  
    <ion-list>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <div>
                    <h1>Laotian American National Alliance</h1>
                </div>
            </ion-col>
        </ion-row>
        <ion-list-header class="header">More information on LANA</ion-list-header>
        <ion-item button detail="false" (click)="openUrl('https://lanausa.org/mission')">
            <ion-icon name="browsers" slot="end"></ion-icon>
            <ion-label>Website</ion-label>
        </ion-item>
        <ion-item button detail="false" (click)="openUrl('https://www.instagram.com/lanausaorg/')">
            <ion-icon name="logo-instagram" slot="end"></ion-icon>
            <ion-label>Instagram</ion-label>
        </ion-item>
        <ion-item button detail="false" (click)="openUrl('https://www.facebook.com/LANAUSA.ORG/')">
            <ion-icon name="logo-facebook" slot="end"></ion-icon>
            <ion-label>Facebook</ion-label>
        </ion-item>
        <ion-item button detail="false" (click)="openUrl('https://twitter.com/laotianamerican')">
            <ion-icon name="logo-twitter" slot="end"></ion-icon>
            <ion-label>Twitter</ion-label>
        </ion-item>
    </ion-list>

