.horizontal-list {
  height: 50px;
  white-space: nowrap;

  .filter-item {
    height: 40px;
  }
}

.item-description {
  margin: 10px 0 10px 0;
  width: 100%;
}

.business-header {
  margin-top: 16px;
}

#header_logo {
  margin-right: 10px;
  margin-top:10px;
  margin-bottom:10px;
}
