<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{business.title}}</ion-title>
    </ion-toolbar>
</ion-header> -->

    <div class="contact-description ion-padding">
        <!-- <h1>{{business.title}}</h1>  -->
        <p>{{business.description}}</p>
    </div>

    <ion-list>
        <ion-list-header class="header">Open hours</ion-list-header>
        <span>
            <ion-item *ngFor="let day of days">
                <div class="ion-align-items-center">
                    <ion-label>{{day.name}} {{day.times.join(' | ')}}</ion-label>
                </div>
            </ion-item>
        </span>
    
    </ion-list>

    <ion-list>
        <ion-list-header class="header">Contact</ion-list-header>

        <ion-item *ngIf="business?.phoneNumber" button detail="false" (click)="call(business.phoneNumber)">
            <ion-icon name="call" slot="end"></ion-icon>
            <ion-label>Call</ion-label>
        </ion-item>
        <ion-item *ngIf="business?.email" button detail="false" (click)="sendEmail(business.email)">
            <ion-icon name="mail" slot="end"></ion-icon>
            <ion-label>Email</ion-label>
        </ion-item>
        <ion-item *ngIf="business?.website" button detail="false" (click)="openUrl(business.website)">
            <ion-icon name="browsers" slot="end"></ion-icon>
            <ion-label>Website</ion-label>
        </ion-item>
        <!-- <ion-item button detail="false" (click)="openUrl(business.location)">
            <ion-icon name="navigate" slot="end"></ion-icon>
            <ion-label>Get directions</ion-label>
        </ion-item> -->
        <ion-item *ngIf="business?.facebookPage" button detail="false" (click)="openUrl(business.facebookPage)">
            <ion-icon name="logo-facebook" slot="end"></ion-icon>
            <ion-label>Facebook</ion-label>
        </ion-item>
    </ion-list>

